<%- include('../layouts/main') %>

<div class="container">
  <h1>Edit Chat</h1>
  <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="title">Chat Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= chat.title %>"
        required
      />
    </div>
    <button type="submit">Update Chat</button>
  </form>
</div>
